body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 400px; /* Reducimos el ancho máximo del contenedor */
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5rem; /* Ajuste del tamaño del título */
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.gif {
  width: 100%;
  max-width: 300px; /* Reducimos el tamaño del GIF */
  height: auto;
  margin-bottom: 15px;
  border-radius: 8px;
}

.message {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.redirect-image {
  width: 60px; /* Hacemos la imagen más pequeña */
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.redirect-image:hover {
  transform: scale(1.1);
}
