@font-face {
  font-family: "DazzedTRIALHeavy";
  src: url("../assets/fonts/DazzedTRIAL-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DazzedTRIALBold";
  src: url("../assets/fonts/DazzedTRIAL-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DazzedTRIALMedium";
  src: url("../assets/fonts/DazzedTRIAL-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DazzedTRIALRegular";
  src: url("../assets/fonts/DazzedTRIAL-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-dark: rgb(18, 40, 63);
  --color-orange: rgb(239, 96, 56);
  --color-yellow: rgb(233, 255, 116);
}

body {
  font-family: "DazzedTRIALMedium", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  color: var(--color-yellow);
  font-size: 1.1rem;
}

header {
  background-color: var(--color-orange);
  padding: 0.75rem;
  text-align: center;
}

.logo {
  max-width: 220px;
}

.section-title {
  font-family: "DazzedTRIALBold", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-title {
  color: var(--color-dark);
}

.projects-title {
  color: var(--color-yellow);
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: rgb(233, 255, 116);
}

.about-image {
  width: 80%;
  max-width: 350px;
  margin-bottom: 1.5rem;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-text {
  font-family: "DazzedTRIALMedium", sans-serif;
  color: var(--color-dark);
  font-size: 1.2rem;
  text-align: left;
  max-width: 80%;
}

#projects {
  padding: 2rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.project {
  background-color: var(--color-dark);
  border-radius: 8px;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
}

.project-info {
  padding: 1.5rem;
  color: var(--color-yellow);
  text-align: center;
}

.carousel,
.extra-image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.carousel-image,
.extra-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--color-dark);
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.carousel-image.active,
.extra-image {
  opacity: 1;
  transform: scale(1);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(239, 96, 56, 0.7);
  color: var(--color-yellow);
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(239, 96, 56, 1);
}

.carousel-button.prev {
  left: 20px;
}

.carousel-button.next {
  right: 20px;
}

.project-title {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.project-title:hover {
  color: var(--color-orange);
}

.project-details {
  display: block;
  padding-top: 1rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.project-details.active {
  opacity: 1;
  max-height: 2000px;
  transform: scaleY(1);
}

.project-details p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.extra-image-container {
  margin-top: 1rem;
  padding-top: 75%; /* 4:3 Aspect Ratio para imágenes adicionales */
}

footer {
  background-color: var(--color-orange);
  color: var(--color-yellow);
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

footer a {
  color: var(--color-yellow);
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

footer a:hover {
  color: var(--color-dark);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-image {
    width: 70%;
  }

  .about-text {
    max-width: 90%;
  }

  .project-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .project-title {
    font-size: 1.8rem;
  }

  .carousel-button {
    padding: 8px;
    font-size: 16px;
    width: 32px;
    height: 32px;
  }

  .carousel-button.prev {
    left: 10px;
  }

  .carousel-button.next {
    right: 10px;
  }
}
