@import url("https://fonts.cdnfonts.com/css/data-70");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

@font-face {
  font-family: "DazzedTRIAL";
  src: url("../assets/fonts/DazzedTRIAL-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cubano";
  src: url("../assets/fonts/Cubano.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
